# dependencies
node_modules/
.pnpm-store/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# build logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build output
dist/
build/

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# archives & large zip files
*.zip
