.there-is-always-section {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #031633;
  line-height: 0;
  margin-top: -2px;
}

.there-is-always-section > svg,
.there-is-always-svg {
  width: 100%;
  height: auto;
  display: block;
}
